ul {
    list-style-type: none;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding:5px;
    margin: auto;
    justify-content: center;
    margin-left: 25%;
}
li {
    border: 1px solid grey;
    display: flex;
    height: 35px;
    align-items: center
}
div {
    text-align: center;
}