{% extends "body.html" %}

{% block head %} <title>Communicator</title> {% endblock %}

{% block body %}
    <form action="{{ url_for('chat') }}", method="POST">
        <div id="name">Hello {{ name }}! Nice to see you!</div>
        <div>
            {{ form.friend(class_='form-control',
                    placeholder='Username',
                    autocomplete='off',
                    autofocus=true) }} <input type ="submit" name="action" value="Select">
        </div>
        <ul id="messages_from">
            {% for msg in messages_from %}
                <li>{{ msg[4] }} "{{ msg[1]  }}" send you "{{ msg[3] }}"</li>
            {% endfor %}
        </ul>
        <ul id="messages_to">
            {% for msg in messages_to %}
                <li>{{ msg[4] }} You  send "{{ msg[3] }}" to "{{ msg[1] }}"</li>
            {% endfor %}
        </ul>
            <div>
                {{ form.text(class_='form-control',
                        placeholder='Message',
                        autocomplete='off',
                        autofocus=true) }} <input type ="submit" name="action" value="Send">
                <h1></h1>
            </div>
        <div>
            <h1></h1>
            <a href="/logout">Logout</a>
        </div>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
    </form>
{% endblock %}