{% extends "body.html" %}

{% block head %} <title>Communicator</title> {% endblock %}

{% block body %}
    <form action="{{ url_for('chat') }}", method="POST">
        <div id="name">Hello {{ name }}! Nice to see you!</div>
        <div>
            {{ form.friend(class_='form-control',
                    placeholder='Username',
                    autocomplete='off',
                    autofocus=true) }}
            <input type ="submit" name="action" value="Select">
            <input type ="submit" name="action" value="Add new friend">
        </div>
        <ul id="messages", class="parent">
            {% for msg in messages%}
                {% if msg[2] == name %}
                    <li style="color:#000000">{{ (msg[4]|string())[11:19] }} {{ msg[1]  }} : {{ msg[3] }}</li>
                {% elif msg[2] != name %}
                    <li style="color:#0048ff; justify-content: flex-end">{{ msg[3] }} : {{ name }} {{ (msg[4]|string())[11:19] }}</li>
                {% endif %}
            {% endfor %}
        </ul>
            <div>
                {{ form.text(class_='form-control',
                        placeholder='Message',
                        autocomplete='off',
                        autofocus=true) }}
            </div>
            <div>
                <input type ="submit" name="action" value="Send">
                <h1></h1>
            </div>
        <div>
            <h1></h1>
            <a href="/logout">Logout</a>
        </div>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
    </form>
{% endblock %}