{% extends "body.html" %}

{% block head %}
    <title>Communicator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
    setInterval("my_function();",1000);
    function my_function(){
      //var old_element = document.querySelector('#board');
      //var new_element
        $("#board").load("get_messages #board");
      //old_element.replaceWith(new_element);
    }
    </script>
{% endblock %}

{% block body %}
    <form action="{{ url_for('chat') }}", method="POST">
        <div id="name">Hello {{ name }}! Nice to see you!</div>
        <div>
            {{ form.friend(class_='form-control',
                    placeholder='Username',
                    autocomplete='off',
                    autofocus=true) }}
            <input type ="submit" name="action" value="Select">
            <input type ="submit" name="action" value="Add new friend">
        </div>
        <div id="board">
            <ul id="messages", class="parent">
            {% for msg in messages%}
                {% if msg[2] == name %}
                    <li style="color:#000000">{{ (msg[4]|string())[11:19] }} {{ msg[1]  }} : {{ msg[3] }}</li>
                {% elif msg[2] != name %}
                    <li style="color:#0048ff; justify-content: flex-end">{{ msg[3] }} : {{ name }} {{ (msg[4]|string())[11:19] }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        </div>

            <div>
                {{ form.text(class_='form-control',
                        placeholder='Message',
                        autocomplete='off',
                        autofocus=true) }}
            </div>
            <div>
                <input type ="submit" name="action" value="Send">
                <h1></h1>
            </div>
        <div>
            <h1></h1>
            <a href="/logout">Logout</a>
            <p id="demo"></p>
        </div>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
    </form>
{% endblock %}