{% extends "body.html" %}

{% block head %} <title>Communicator</title> {% endblock %}

{% block body %}
    <form action="{{ url_for('login') }}", method="POST">
        <div>
            {{ form.username(class_='form-control',
                    placeholder='Username',
                    autocomplete='off',
                    autofocus=true) }}
            <h1></h1>
        </div>
        <div>
            {{ form.password(class_='form-control',
                    placeholder='Password')}}
            <ul>
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            {{ form.login_btton }}
        </div>
        <div>
            <h1></h1>
            <a href="/">Or register</a>
        </div>

        {{ form.csrf_token }}
    </form>
{% endblock %}